html, body {
    height: 100%; /* Asegura que html y body ocupen toda la altura */
    margin: 0; /* Elimina el margen predeterminado */
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #007BFF, #00BFFF);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header, .content, .footer {
    width: 90%; /* Ocupa el 90% del ancho de la pantalla */
    max-width: 600px; /* Maxima anchura para mantener el diseño */
    margin: 20px auto; /* Centra en la página */
}

.content {
    padding: 30px; /* Aumenta el padding para más espacio */
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px; /* Bordes más redondeados */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada */
    text-align: center;
}

h1 {
    color: #fff; /* Color del encabezado blanco */
    margin-bottom: 20px; /* Espacio debajo del encabezado */
}

input[type="text"] {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    padding: 15px; /* Aumenta el espacio interno */
    margin: 15px 0; /* Margen vertical */
    border: 2px solid #007BFF; /* Borde azul */
    border-radius: 10px; /* Bordes redondeados más acentuados */
    transition: border-color 0.3s; /* Transición suave al cambiar el borde */
}

input[type="text"]:focus {
    border-color: #0056b3; /* Color del borde al enfocar */
}

button {
    padding: 15px 25px; /* Aumenta el espacio interno */
    border: none; /* Sin borde */
    border-radius: 10px; /* Bordes redondeados */
    background-color: #007BFF; /* Color de fondo azul */
    color: white; /* Color de texto blanco */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    font-size: 16px; /* Aumenta el tamaño de la fuente */
}

button:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el ratón */
    transform: scale(1.05); /* Efecto de aumento al pasar el ratón */
}

.footer {
    text-align: center; /* Centra el texto */
    margin-top: 20px; /* Margen superior */
    color: #fff; /* Color del texto en el pie de página */
}

.icon {
    font-weight: bold; /* Negrita */
}